<% content_for :body_content_title do %>
  <%= t('plugins.refinerycms_staff_list.title') %>
<% end %>
<% content_for :body_content_left do %>
    <ul>
        <% StaffMember.categories.each do |cat| %>
            <li><%= link_to cat, staff_member_path(:id => cat.underscore)%></li>
        <% end %>
    </ul>
<% end %>
<% content_for :body_content_right do %>
  <% if @staff_members.any? %>
      <% 
          @staff_members.sort_by(&:category).each do |item| 
            if @category.nil? or @category != item.category
                @category = item.category
      %>
      <h2 id="<%= @category.underscore %>"><%= item.category %></h2>
          <% end %>
      <div class="staff_member_truncated">
        <div class="mug">
          <%= image_tag item.image.thumbnail('175x175').url if item.image %>
        </div>    
        <div class="desc">
          <h3><%= item.name %><small><%= item.title %></small></h3>
          <%= raw item.bio %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
