<% content_for :body_content_title do %>
  <%= t('plugins.refinerycms_staff_list.title') %>
<% end %>
<% content_for :body_content_left do %>
    <ul>
        <% StaffMember.categories.each do |cat| %>
            <li><%= link_to cat, staff_member_path(:id => cat.underscore)%></li>
        <% end %>
    </ul>
<% end %>
<% content_for :body_content_right do %>
  <% if @catalog.any? %>
    <% @catalog.keys.each do |category| %>
      <h2 id="<%= category.underscore %>"><%= category %></h2>
      <% @catalog[category].each do |item|
        <div class="staff_member_truncated">
          <div class="mug">
            <%= image_tag item.image.thumbnail('175x175').url if item.image %>
          </div>    
          <div class="desc">
            <h3><%= item.name %><small><%= item.title %></small></h3>
            <%= raw item.bio %>
          </div>
        </div>
      <% end %>
    <% end %>>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
