<%= form_for [:admin, @staff_member] do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => @staff_member,
               :include_object_name => true
             } %>

  <div class='field'>
    <%= f.label :category %>
    <%= f.select :category, ['Hospital Administration','Board of Commissioners', 'Physicians'] %>
  </div>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :bio %>
    <%= f.text_area :bio, :rows => "20", :class => "wymeditor widest" %>
  </div>

  <div class='field'>
    <%= f.label :image %>
    <%= render :partial => "/shared/admin/image_picker", :locals => {:f => f, :field => :image_id, :image => @staff_member.image } %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('admin.staff_members.staff_member.delete'),
               :delete_confirmation => t('shared.admin.delete.message', :title => @staff_member.name)
             } %>

<% end %>
