<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= staff_member.name %>
    <span class="preview">
      <%= staff_member.title %>
    </span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('application_edit.png'), edit_admin_staff_member_path(staff_member),
                :title => t('.edit') %>
    <%= link_to refinery_icon_tag('delete.png'), admin_staff_member_path(staff_member),
                :class => "cancel confirm-delete",
                :title => t('.delete'),
                :method => :delete,
                :confirm => t('shared.admin.delete.message', :title => staff_member.name) %>
  </span>
</li>
